//@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import "mixins";
@import "variables";
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px ; 10px/16px= 62.5%
}



body {
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: $color-grey-dark-2;
  background: url("../img/bc.jpg") no-repeat 50% 0;
  background-size: cover;
  min-height: 100vh;
  line-height: 1;
  letter-spacing: .1rem;

  @media only screen and (max-width: $bp-medium) {
  background-position: right;
}
}
.main {
  background-color: #f5f5f5cf;
  border-radius: .2rem;
  min-height: 40rem;
  width: 55rem;
  padding: 5.5rem;

  @media only screen and (max-width: $bp-small) {
    padding: 1.3rem;
    width: 100%;
    margin: 15% auto;
  }
  @media only screen and (min-width: 601px) {
    @include  center;
  }
}

