$color-primary-blue: #53BFFC;
$color-grey-light-2: #f4f2f2;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$color-primary-green:#52b201;
$color-primary-green-light:#6acc11;

//$line: 1px solid var(--color-grey-light-2);

//sass variables
$bp-largest: 75em; //1200/16=75em
$bp-large: 68.75em; //1100/16=68.75em
$bp-medium: 56.25em; //900/16=56.25em
$bp-small: 37.5em; //600/16=37.5em
$bp-smallest: 31.25em; //500/16=31.25em
