@import '../../../sass/variables';

.search-panel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  color: $color-grey-dark-2;

  @media only screen and (max-width: $bp-small)   {
    justify-content: center;
  }

  .button {
    &:hover {
      border-color: $color-primary-green-light;
    }

    svg {
      fill: $color-primary-green-light;
    }
  }
}