@import '../../../sass/variables';

.search-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: .5rem;
  color: $color-grey-dark-2;

  @media only screen and (max-width: $bp-small)   {
                  justify-content: center;
  }


  .button {
    &:hover {
      border-color: greenyellow;
    }

    svg {
      fill: greenyellow;
    }
  }
}