.list-item{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-family: 'Dancing Script',serif;
  font-weight: 600;

  svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: #53bffc;
    transition: fill .5s ease-out;

    &:focus,&:hover, &active{
      fill: red;
    }
  }

  &--button{
    display: flex;
    align-items: center;
  }
}