.list-item{
  display: flex;
  justify-content: space-between;
  //font-size: 2rem;
  font-family: 'Dancing Script',serif;
  font-weight: 600;




  svg{
    width: 3.2rem;
    height: 3.2rem;
    fill: #53bffc;
    transition: fill .5s ease-out;

    &:hover{
      fill: red;
    }

    &:focus, &:active{

    }
  }

  &--button{
    display: flex;
    align-items: center;
  }

}
.line{
  span{
    text-decoration-line: line-through;
  }
}

.important{
  color: #ff2700;
  font-weight: 600;
  font-size: 2.6rem;
}
