@import "../../sass/variables";

.app-header {
  color: white;
  background-image: linear-gradient(to right, $color-primary-blue-light, $color-primary-blue);
  border-radius: .5rem .5rem 0 0;
  padding: 2rem 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    font-size: 2.6rem;
  }

  span {
    font-weight: 400;
  }

  &--icon {
    height: 2rem;
    width: 2rem;
    fill: #333333;
  }
}