@import "../../sass/variables";

.new{
  color: red;
  display: flex;
  justify-content: space-between;



  @media only screen and (max-width: $bp-small)   {
    justify-content: center;
    flex-wrap: wrap;
  }

  .button{
    &:hover {
      border-color: greenyellow;
    }

    svg {
      fill: greenyellow;
    }
  }
}